* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  /* overflow-x: hidden; noammmmmmmmmmmmmm
  overflow-y: auto; noammmmmmmmmmmmmm */ 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  background-color: rgb(223, 219, 219);
  padding-bottom: 80px;
}

header {
  width: 100%;
  height: 65px;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); */
  padding: 20px;
  margin-bottom: -10px;
}

header > h2 {
  
  font-size: 20.75px;
  font-weight: 600;
  margin-right: auto;      /* inside flexbox, it creates maximal space between h3 and h4 */
  letter-spacing: -0.05em;
}

header > h4 {
  /* margin: 0; */
  font-size: 14px;
  /* font-size: 1.25rem; */
  font-weight: 400;
  margin-right: 15px;
}


header > img {
  /* height: 26.2px;
  width: 31.3px; */
  height: 100%;
  margin-right: 6px;
}

main {
  display: flex;
  height: 400px;
  width: 447px;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;

}

.input-text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.input-text-row > input {
  height: 35px;
  width: 210px;  
  font-size: 16px;
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(184, 179, 179); */
  border: 1px solid rgb(184, 179, 179);
  border-radius: 3px;
  border-color: #D5D4D8;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05); /* shadow is inside, horizon 1px, vertical 2px, blur 3px, color as written */
  gap: 20px;
  text-indent: 8px;
}

.input-text-row > input::placeholder {  
  font-size: 16px;
}

.get-new-image-button {
  width: 100%;
  font-weight: 600;
  height: 40px;
  display: flex;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  gap: 10px;
  cursor: pointer;
  letter-spacing: -0.02em;
}

.get-new-image-button > img {
  height: 20px;
}

.meme {
  position: relative;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 30px;
  height: 251px;
}

.meme-image {
  width: 100%;
  height: 100%;
  background-color: rgb(196, 189, 189);
  border-radius: 3px;
  object-fit: contain;
}

.text-flex {
  position: absolute;
  display: flex;
  height: 251px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top-text {
  margin-top: 20px;
}

.bottom-text {
  margin-bottom: 20px;
}









